body
{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font: 700p;
    margin: 0px;
}
h1{
    font: 700px;
}
.orange-color
{
    color: orange;
}
section{
    display: flex;
    margin-bottom: 150px;
}
.first-sect
{
    
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
  
}
    

.half-width
{ 
    width: 50%;
    padding-left: 75px;
    padding-top: 2px;
    
    
}
.half-width img

{
    width: 60%;
}
.link-button
{
    text-decoration: none;
    background-image:linear-gradient(orange,tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.second-sect
{
    
    background-repeat: no-repeat;
   background-image: url(images/dream-bg.png);
   background-position: right;
}
.second-sect p{
    padding-right: 150px;
}
#hw-1
{
   
    width: 40%;
     
    margin-left: 5%;
    margin-right:5% ;
   box-shadow: 10px 10px 40px gray;
   padding-left: 20px;
}
#hw-2
{ 
    width: 40%;
     
    margin-left: 5%;
    margin-right:5% ;
   box-shadow: 10px 10px 40px gray;
   padding-left: 20px;
}
.experience-sect
{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 90px;
}